<div>
	{{#each partials.weatherContext.locations}}
		<div>
			<h3>{{name}}</h3>
			<a href="{{forecastUrl}}">
				{{weather}}, {{temp}}
			</a>
		</div>
	{{/each}}
	<div>{{locations}}</div>
	<small>来源: <a href="http://www.weather.com.cn/weather/101280601.shtml">中国天气</a></small>
</div>