<!document html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Meadowlark</title>
	{{{_sections.head}}}
	<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css">
	{{{_sections.home}}}
	{{{_sections.weather}}}
	{{{_sections.swiperCss}}}
	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}
</head>
<body>
	{{{ body }}}
	{{#if showTests}}
		<div id="mocha"></div>
		<script type="text/javascript" src="/vendor/mocha.js"></script>
		<script type="text/javascript" src="/vendor/chai.js"></script>
		<script type="text/javascript">
			//测试驱动开发(TDD)
			mocha.ui('tdd'); 
			var assert = chai.assert;
		</script>
		{{#if pageTestScript}}
			<script type="text/javascript" src={{pageTestScript}}></script>
		{{/if}}
		<script type="text/javascript">mocha.run();</script>
	{{/if}}
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	{{{_sections.swiperJs}}}
	{{{_sections.jquery}}}
	<script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>
</body>
</html>